.avatarCards {
  display: grid;
  grid-template-columns: 1fr;
  width: 800px;
  margin: 0 auto;
  .avatarGrp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-block: 15px;
    .avatar {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      color: black;
      text-decoration: none;
      .name {
        text-align: center;
        margin-top: 5px;
        p {
          font-size: 12px;
          font-weight: 600;
          line-height: initial;
        }
        span {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
